.localization{
  background: #FFF8E4;
  padding: 120px 0 36px;
  .localization__title{
    font-family: Graphik LC TT,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
  }
  .row{
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .col-4{
      width: 330px;
      height: 295px;
      margin-bottom: 57px;
      .col-4__box-img{
        padding: 21px 85px 0;
      }
      .title{
        margin: 26px 0 20px;
        font-family: Graphik LC TT,sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        color: #000000;
      }
      .subtitle{
        font-family: Graphik LC TT,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        span{
          a{
            font-family: Graphik LC TT,sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
          }
        }
      }
    }
  }
}