.translation{
  background: #DABC98;
  padding: 80px 76px 84px;
  .block {
    display: flex;
    flex-direction: row;
    .box-left {
      width: 809px;
      height: 178px;
      display: flex;
      flex-direction: row;
      border-right: 1px solid #000000;
      .box-img {
        margin: 20px 67px 4px -20px;
      }
      .title {
        margin: 47px 125px 31px 0;
        font-family: Graphik LC TT, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        color: #000000;
      }
    }
    .box-right {
      width: 481px;
      height: 168px;
      display: flex;
      flex-direction: row;
      .mini-box1 {
        .mini-box__logo {
          margin: 30px 0 20px 70px;
        }
        .stars {
          margin-left: 70px;
          margin-bottom: 14px;
        }
        .ulu {
          font-family: Graphik LC TT, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 25px;
          letter-spacing: 0.75px;
          color: #000000;
          margin-left: 70px;
        }
      }
      .mini-box2 {
        .mini-box__logo {
          margin: 30px 0 20px 0;
        }
        .stars {
          margin-bottom: 14px;
          .hr {
            font-family: Graphik LC TT, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0.75px;
            color: #000000;
          }
        }
      }
    }
  }
}